<div id="nav" layout="row top-left">
    <div self="left">
        <a href="/"><div class="logo logo-isNotVisIfMobile">&nbsp&nbsp生活不止眼前的苟且，还有以后的。所以，加油吧，少年</div></a>
        <a href="/"><div class="logo logo-isVisIfMobile"></div></a>
    </div>
    <div class="nav-isNotVisIfMobile">
        <div class="item">
            <a href="/tags">Tags</a>
        </div>
        <div class="item">
            <a href="/videos">Videos</a>
        </div>
    </div>
    <div class="nav-isVisIfMobile">
        <div class="item">
            <a href="/tags">Tags</a>
        </div>
        <div class="item">
            <a href="/videos">Videos</a>
        </div>
    </div>

    <!--
        <audio style="display:none; height: 0" id="bg-music" preload="auto" src="/assets/music/bg.mp3" loop="loop"></audio>
     -->
    
</div>

<script type="text/javascript"> 

document.addEventListener('DOMContentLoaded', function () {
    function audioAutoPlay() {
        var audio = document.getElementById('bg-music');
            audio.play();
        document.addEventListener("WeixinJSBridgeReady", function () {
            audio.play();
        }, false);
    }
    audioAutoPlay();
});

</script>
