<div class="wrapper-sidebar">
  <header class="sidebar clearfix">
    <div class="site-info">
      {% if site.avatar %}
        <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>
      {% endif %} 
      <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
      <p class="site-description">{{ site.description }}</p>
    </div>
  </header>

  <div class="navlist">
    <nav>
      {% for nav in site.navigation %}
      {% if nav.url contains 'http://' or nav.url contains 'https://' %}
      <a href="{{ nav.url }}">{{ nav.name }}</a>
      {% else %}
      <a href="{{ site.baseurl }}{{ nav.url }}">{{ nav.name }}</a>
      {% endif %}
      {% endfor %}
    </nav>
  </div>

  <div class="wrapper-footer-desktop">
    <footer class="footer">
      {% include footer.html %}
    </footer>
  </div>
</div>

<script type="text/javascript"> 

// document.addEventListener('DOMContentLoaded', function () {
//     function audioAutoPlay() {
//         var audio = document.getElementById('bg-music');
//             audio.play();
//         document.addEventListener("WeixinJSBridgeReady", function () {
//             audio.play();
//         }, false);
//     }
//     audioAutoPlay();
// });

 </script>

 <script>
  var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?ee103fe8165dc72eb3fd485fbb7b9c6c";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
